@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-grid-columns {
    grid-template-columns: repeat(2, 500px);
}
.app-grid-columns {
    grid-template-columns: repeat(2, 200px);
}

.sidebar-grid-columns {
    grid-template-columns: repeat(2, 100px);
}

.custom-width {
    width: 450px;
}

body {
    background: black;
    color: white;
}

.activate {
    width: 300px;
}

.deactivate {
    width: 100px;
}
@media (max-width: 2824px) {
.biggGrid {
    display: grid;
    grid-template-columns: repeat(5, 500px);
}
.smalllGrid {
    display: grid;
    grid-template-columns: repeat(4,500px);
}
}

@media (max-width: 2200px) {

.biggGrid {
    display: grid;
    grid-template-columns: repeat(4, 500px);
}
.smalllGrid {
    display: grid;
    grid-template-columns: repeat(3,500px);
}

}
@media (max-width: 2100px) {

.biggGrid {
    display: grid;
    grid-template-columns: repeat(3, 500px);
}
.smalllGrid {
    display: grid;
    grid-template-columns: repeat(2,500px);
}

}

@media (max-width: 1800px) {

.biggGrid {
    display: grid;
    grid-template-columns: repeat(2, 500px);
}
.smalllGrid {
    display: grid;
    grid-template-columns: repeat(1,500px);
}

}
@media (max-width: 1100px) {

.biggGrid {
    display: grid;
    grid-template-columns: repeat(1, 500px);
}
.smalllGrid {
    display: grid;
    grid-template-columns: repeat(1,500px);
}

}

