@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-grid-columns {
    grid-template-columns: repeat(2, 500px);
}

.home-grid-columns {
    grid-template-columns: repeat(4, 500px);
}

.home-grid-columns-big {
    grid-template-columns: repeat(3, 500px);
}

.app-grid-columns {
    grid-template-columns: repeat(2, 200px);
}

.sidebar-grid-columns {
    grid-template-columns: repeat(2, 100px);
}

.custom-width {
    width: 450px;
}

body {
    background: black;
    color: white;
}

.activate {
    width: 300px;
}

.deactivate {
    width: 100px;
}

